.final_aside_animate {
  animation-name: final_aside;
  animation-duration: var(--init-animate-duration);
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes final_aside {
  0% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
